.form-container {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin: 100px auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #f42d0a;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

p {
    margin-top: 15px;
    font-size: 0.9em;
}

a {
    color: #2d4ac8;
    text-decoration: none;
}