/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styles */
header {
    background: #efc025;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Main Content Styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #eeb83a;
}

/* Team Section */
.team-member {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Button */
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* Footer Styles */
footer {
    background: #edbf26;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
